body {
    /* background-color: #6C7A0E; */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.background {
    background-image: url('waterr.jpg');
    width: 100%;
    height: 200vh;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    z-index: 1;
}

.backgroundOverlay {
    width: 100%;
    height: 100%;
    background-color: #6c7a0e;
    opacity: var(--opacity);
    z-index: 2;
}

.navbar {
    width: 100%;
    height: 5vh;
    background-color: #62bec1;
}

/* 
    404e4d
    63595c
    646881
    62bec1
    5ad2f4
*/